body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: #0c0c0e; /* negro grafito */
  color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-image:
    radial-gradient(circle at 10% 20%, rgba(120,0,255,0.08) 0%, transparent 40%),
    radial-gradient(circle at 80% 70%, rgba(200,0,255,0.07) 0%, transparent 45%);
  background-size: cover;
}

.login-container {
  width: 330px;
  padding: 35px;
  border-radius: 18px;
  background: rgba(20, 20, 30, 0.55);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(140, 40, 255, 0.18);
  box-shadow: 0 0 22px rgba(140, 40, 255, 0.10);
  animation: fadeIn 0.4s ease;
}

.title {
  text-align: center;
  margin-bottom: 25px;
  color: #b67fff;
  letter-spacing: 1px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border: none;
  border-radius: 10px;
  background: #1a1a23;
  color: #eaeaea;
  outline: none;
  border: 1px solid rgba(150, 70, 255, 0.25);
  transition: 0.2s;
}

input:focus {
  border-color: #c590ff;
  box-shadow: 0 0 10px rgba(190, 120, 255, 0.25);
}

.btn {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  background: linear-gradient(90deg, #7b2fff, #b47bff);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.25s;
}

.btn:hover {
  filter: brightness(1.15);
}

.alt {
  text-align: center;
  margin-top: 15px;
  color: #b9b9b9;
}

.alt a {
  color: #c082ff;
  text-decoration: none;
}

.error {
  color: #ff7aa2;
  text-align: center;
  margin-top: 12px;
  min-height: 20px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
.footer-copy {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  color: #aaa;
  font-size: 14px;
  border-top: 1px solid #222;
  margin-top: 40px;
}
