.pens-container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 10px;
}

.pens-textarea {
  width: 100%;
  height: 140px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #360240;
  resize: none;
  font-size: 16px;
  margin-bottom: 15px;
}

.btn-save {
  width: 100%;
  padding: 12px;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.pens-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.pens-item {
  background: #f1f1f1;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.pens-item {
  background: #111;
  border: 1px solid rgba(150,70,255,0.3);
  padding: 12px;
  border-radius: 10px;
  color: white;
  margin-bottom: 12px;
  position: relative;
  box-shadow: 0 0 10px rgba(150,70,255,0.2);
}

.pens-text {
  font-size: 16px;
  margin-bottom: 6px;
}

.pens-date {
  font-size: 13px;
  opacity: 0.7;
}

.delete-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #ff6b6b;
  transition: 0.2s;
}

.delete-btn:hover {
  color: red;
  transform: scale(1.2);

}

.footer-copy {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  color: #aaa;
  font-size: 14px;
  border-top: 1px solid #222;
  margin-top: 40px;
}