body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #0e0e0e;
  color: #f1f1f1;
}

/* Content */
.container {
  padding: 20px;
}

.label {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 14px;
}

select,
textarea,
input[type="color"] {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #1c1c1c;
  color: #fff;
  margin-bottom: 15px;
}

textarea {
  height: 120px;
  resize: none;
}

button {
  width: 100%;
  padding: 12px;
  background: #6aa6ff;
  border: none;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #8cbaff;
}

#statusMessage {
  margin-top: 15px;
  text-align: center;
  color: #6aa6ff;
  font-size: 14px;
}
